exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(rasenna, .registration = TRUE)

importFrom("stats", "cor.test")
importFrom("graphics", "abline", "axis")
importFrom("methods", "is")
