exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(rasenna, .registration = TRUE)

importFrom("stats", "cor.test", "median", "kmeans")
importFrom("graphics", "abline", "axis")
importFrom("grDevices", "hcl.colors")
importFrom("methods", "is")
importFrom("terra", "geom", "vect", "rast", "res", "rasterize", "minmax", "convHull", "focal", "values", "relate", "crop", "ext", "as.polygons", "as.contour", "plot", "lines", "disagg", "aggregate")